<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.anduo.chat.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <!-- 手机振动的权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>  
    <!-- 指定添加安装快捷方式的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="xyz.anduo.chat.activity.MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="xyz.anduo.chat.activity.WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="xyz.anduo.chat.activity.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="xyz.anduo.chat.activity.RegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible" >
        </activity>

        <service android:name="xyz.anduo.chat.service.GetMsgService" >
        </service>

        <activity
            android:name="xyz.anduo.chat.activity.FriendListActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="xyz.anduo.chat.activity.ChatActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
    </application>

</manifest>